.footer{
  position: relative;
  padding-top: 260px;
  @media screen and (max-width: 1380px){
    padding-top: 200px;
  }
  &::before{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 408px;
    width: 100%;
    background-color: $bg-color-secondary;
    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);;
    z-index: -3;
    @media screen and (max-width: 500px){
      height: 100%;
    }
  }
  &::after{
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    height: 688px;
    width: 100%;
    background-color: $bg-color;
    clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);;
    box-shadow: 0px 3px 25px rgba(66, 77, 131, 0.27);
    z-index: -2;
    @media screen and (max-width: 500px){
      height: 100%;
    }
  }
  &-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 94px;
    padding-right: 30px;
  }
  &__nav{
    max-width: 190px;
    @media screen and (max-width: 800px){
      margin-bottom: 40px;
    }
    &-title{
      color: white;
      font-size: 23px;
      font-weight: 700;
      padding-bottom: 24px;
      @media screen and (max-width: 800px){
        font-size: 18px;
      }
    }
    &-item{
      margin-bottom: 12px;
      a{
        color: $white;
        font-size: 20px;
        @media screen and (max-width: 800px){
          font-size: 16px;
        }
      }
    }
  }
  &__accept{
    max-width: 475px;
    &-title{
      color: white;
      font-size: 23px;
      font-weight: 700;
      padding-bottom: 24px;
      @media screen and (max-width: 800px){
        font-size: 18px;
        max-width: 300px;
      }
    }
    &-icons{
      display: flex;
      flex-wrap: wrap;
    }
    &-icon{
      width: 86px;
      height: 50px;
      background-color: $bg-color-dark;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      border-radius: 6px;
      @media screen and (max-width: 500px){
        width: 70px;
        height: 34px;
        margin-bottom: 20px;
        img{
          height: 50%;
        }
      }
    }
  }
  &__info{
    display: flex;
    justify-content: space-between;
    color: $white;
    @media screen and (max-width: 500px){
      flex-direction: column;
      text-align: center;
      justify-content: center;
    }
    &-address{
      @media screen and (max-width: 500px){
        padding-bottom: 20px;
      }
    }
    &-logo{
      display: flex;
      padding-bottom: 15px;
      @media screen and (max-width: 500px){
        justify-content: center;
      }
    }
    &__socials{
      display: flex;
      justify-content: flex-end;
      padding-bottom: 15px;
      @media screen and (max-width: 500px){
        justify-content: center;
      }
      &-icon{
        margin-left: 12px;
      }
    }

  }
}