*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
input,
select {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

form,
input,
button,
select {
  outline: none;
  background-color: transparent;
}

/* nunito-regular - latin */

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/nunito-v16-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/nunito-v16-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/nunito-v16-latin-regular.woff2") format("woff2"), url("../fonts/nunito-v16-latin-regular.woff") format("woff"), url("../fonts/nunito-v16-latin-regular.ttf") format("truetype"), url("../fonts/nunito-v16-latin-regular.svg#Nunito") format("svg");
  /* Legacy iOS */
}

/* nunito-italic - latin */

@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/nunito-v16-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/nunito-v16-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/nunito-v16-latin-italic.woff2") format("woff2"), url("../fonts/nunito-v16-latin-italic.woff") format("woff"), url("../fonts/nunito-v16-latin-italic.ttf") format("truetype"), url("../fonts/nunito-v16-latin-italic.svg#Nunito") format("svg");
  /* Legacy iOS */
}

/* nunito-700 - latin */

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/nunito-v16-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/nunito-v16-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/nunito-v16-latin-700.woff2") format("woff2"), url("../fonts/nunito-v16-latin-700.woff") format("woff"), url("../fonts/nunito-v16-latin-700.ttf") format("truetype"), url("../fonts/nunito-v16-latin-700.svg#Nunito") format("svg");
  /* Legacy iOS */
}

/* nunito-800 - latin */

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/nunito-v16-latin-800.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/nunito-v16-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/nunito-v16-latin-800.woff2") format("woff2"), url("../fonts/nunito-v16-latin-800.woff") format("woff"), url("../fonts/nunito-v16-latin-800.ttf") format("truetype"), url("../fonts/nunito-v16-latin-800.svg#Nunito") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v27-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin-700.woff2") format("woff2"), url("../fonts/roboto-v27-latin-700.woff") format("woff"), url("../fonts/roboto-v27-latin-700.ttf") format("truetype"), url("../fonts/roboto-v27-latin-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

body {
  font-family: "Nunito", sans-serif;
  color: #2e2e2e;
}

.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.title-block {
  padding-top: 100px;
  text-align: center;
}

.title {
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 10px;
}

.description {
  font-size: 28px;
}

.header {
  position: relative;
}

.header::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 852px;
  width: 100%;
  background-color: #8c9efc;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  z-index: -3;
}

.header::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  height: 820px;
  width: 100%;
  background-color: #424d83;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  -webkit-box-shadow: 0 3px 25px rgba(66, 77, 131, 0.27);
          box-shadow: 0 3px 25px rgba(66, 77, 131, 0.27);
  z-index: -2;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.nav__logo {
  padding-bottom: 12px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list-item {
  height: 90px;
  margin-left: 70px;
  font-size: 20px;
  -webkit-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.nav__list-item a {
  display: block;
  padding: 50px 26px;
  color: #fff;
}

.nav__list-item:hover:not(:last-child) {
  background-color: #8c9efc;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.nav__list-item:last-child {
  padding-top: 50px;
}

.nav__list-item:last-child a {
  position: relative;
  display: inline;
  font-weight: 700;
  padding: 13px 50px 13px 19px;
  background-color: #fff;
  color: #8c9efc;
  border-radius: 6px;
}

.nav__list-item:last-child a:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.nav__list-item:last-child a::after {
  position: absolute;
  content: "";
  right: 18px;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  width: 14px;
  height: 14px;
  background: url("../img/user-icon.svg") no-repeat;
}

.burger {
  position: relative;
}

.burger-icon {
  position: absolute;
  left: 0;
  bottom: 12px;
  z-index: 3;
}

.burger-line {
  position: absolute;
  display: block;
  height: 2px;
  width: 30px;
  background-color: #fff;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.burger-line.burger-active {
  background-color: transparent;
}

.burger-line.burger-active::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger-line.burger-active::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger-line::before {
  position: absolute;
  content: "";
  top: 8px;
  right: 0;
  height: 2px;
  width: 30px;
  border-radius: 2px;
  background-color: white;
}

.burger-line::after {
  position: absolute;
  content: "";
  bottom: 8px;
  right: 0;
  height: 2px;
  width: 30px;
  border-radius: 2px;
  background-color: white;
}

.burger-line:before,
.burger-line:after {
  -webkit-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.burger__nav {
  opacity: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  background-color: #384170;
  -webkit-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in;
  z-index: 2;
  padding: 80px 30px 70px 30px;
}

.burger__nav-item a {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

.burger__nav.nav-active {
  opacity: 1;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.burger__nav-login {
  margin-top: 100px;
  position: relative;
  display: inline;
  font-weight: 700;
  padding: 13px 90px 13px 59px;
  background-color: #f7f8ff;
  color: #8c9efc;
  border-radius: 6px;
  font-size: 18px;
}

.burger__nav-login::after {
  position: absolute;
  content: "";
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background: url("../img/user-icon.svg") no-repeat;
}

.intro-wrapper {
  padding-top: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro {
  color: #fff;
  padding-top: 122px;
  padding-bottom: 330px;
}

.intro-title {
  font-size: 49px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 15px;
}

.intro-desc {
  font-size: 28px;
  padding-bottom: 44px;
}

.intro__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.intro__form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__form-input {
  width: 346px;
  height: 56px;
  background-color: #384170;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding-left: 20px;
}

.intro__form-input::-webkit-input-placeholder {
  color: #fff;
  font-size: 20px;
}

.intro__form-input::-moz-placeholder {
  color: #fff;
  font-size: 20px;
}

.intro__form-input:-ms-input-placeholder {
  color: #fff;
  font-size: 20px;
}

.intro__form-input::-ms-input-placeholder {
  color: #fff;
  font-size: 20px;
}

.intro__form-input::placeholder {
  color: #fff;
  font-size: 20px;
}

.intro__form-select {
  width: 124px;
  height: 56px;
  background-color: #384170;
  color: #fff;
  font-size: 20px;
  padding: 0 20px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.intro__form-btn {
  margin-left: 30px;
  padding: 15px 17px;
  background-color: #8c9efc;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
}

.intro__image {
  padding-top: 40px;
  max-width: 790px;
}

.services-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 0 100px;
}

.services__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__card__image-wrap {
  padding-right: 30px;
}

.services__card-title {
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 24px;
}

.services__card-desc {
  max-width: 530px;
  font-size: 20px;
  line-height: 37px;
  margin-bottom: 60px;
}

.services__image {
  position: relative;
  margin: auto;
}

.services__image-pic {
  max-width: 640px;
}

.services__image::before {
  position: absolute;
  content: "";
  right: -100px;
  top: -70px;
  height: 240px;
  width: 240px;
  background: url("../img/services-dot-right.svg");
}

.services__image::after {
  position: absolute;
  content: "";
  left: -100px;
  bottom: -70px;
  height: 240px;
  width: 240px;
  background: url("../img/services-dot-left.svg");
}

.tools {
  background-color: #f7f8ff;
}

.tools__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 100px;
}

.tools__card {
  position: relative;
  color: #fff;
  max-width: 765px;
  padding: 50px;
  border-radius: 6px;
  max-width: 765px;
}

.tools__card-first::after {
  position: absolute;
  content: "";
  width: 265px;
  height: 99px;
  top: 20px;
  right: 20px;
  background: url("../img/tools-bg-1.svg");
}

.tools__card-second::after {
  position: absolute;
  content: "";
  width: 270px;
  height: 138px;
  top: 0;
  right: 0;
  background: url("../img/tools-bg-2.svg");
}

.tools__card-icon-bg {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 76px;
  height: 76px;
  background-color: #424d83;
  margin-bottom: 40px;
}

.tools__card-icon-bg-light {
  background-color: #8c9efc;
}

.tools__card-icon {
  max-height: 50px;
}

.tools__card:first-child {
  background-color: #8c9efc;
}

.tools__card:last-child {
  background-color: #424d83;
}

.tools__card-title {
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 24px;
}

.tools__card-desc {
  font-size: 20px;
  line-height: 37px;
  padding-bottom: 20px;
}

.tools__card-link {
  position: relative;
  float: right;
  padding: 15px 44px 15px 18px;
  background-color: #fff;
  color: #93a5ff;
  font-size: 18px;
  font-weight: 700;
}

.tools__card-link::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 14px;
  top: 50%;
  right: 12%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../img/tools-arrow.svg");
}

.plans__cards {
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 220px;
  text-align: center;
}

.plans__card {
  position: relative;
  max-width: 360px;
  padding: 80px 36px 36px;
  -webkit-box-shadow: 0 3px 18px 0 rgba(34, 60, 80, 0.2);
          box-shadow: 0 3px 18px 0 rgba(34, 60, 80, 0.2);
  max-height: 540px;
}

.plans__card-button {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.plans__card-button.card-active {
  display: block;
  margin: 200px;
}

.plans__card-button a {
  display: block;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 700;
  background-color: #f7f8ff;
  border-radius: 6px;
  color: #93a5ff;
}

.plans__card-button a:hover {
  font-weight: 500;
}

.plans__card-icon {
  padding-bottom: 36px;
}

.plans__card-icon-pic {
  max-width: 70px;
  margin: 0 auto;
}

.plans__card-title {
  font-weight: 700;
  font-size: 23px;
  padding-bottom: 24px;
}

.plans__card-desc {
  display: block;
  font-size: 20px;
  line-height: 37px;
  padding-bottom: 46px;
  margin-bottom: 120px;
  position: relative;
}

.plans__card-price-wrap {
  position: absolute;
  bottom: 6%;
  left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.plans__card-info {
  position: relative;
  font-size: 20px;
  padding-top: 36px;
}

.plans__card-info::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #93a5ff;
}

.plans__card-price {
  font-size: 18px;
}

.plans__card-price span {
  font-size: 40px;
}

.feedback {
  position: relative;
  padding-bottom: 98px;
  background-color: #f7f8ff;
}

.feedback::before {
  position: absolute;
  content: "";
  right: 20px;
  top: -70px;
  height: 240px;
  width: 240px;
  background: url("../img/services-dot-right.svg");
}

.feedback::after {
  position: absolute;
  content: "";
  left: 20px;
  bottom: -70px;
  height: 240px;
  width: 240px;
  background: url("../img/services-dot-left.svg");
}

.feedback-slider {
  padding-top: 80px;
  position: relative;
  overflow: hidden;
}

.feedback-slider-pagination {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  bottom: -60px;
}

.feedback-slider-pagination .swiper-pagination-bullet {
  background-color: #93a5ff;
  height: 20px;
  width: 20px;
}

.feedback-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.feedback__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 50%;
  height: 100%;
}

.feedback__slide__image-pic {
  max-width: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

.feedback__slide__content {
  max-width: 546px;
  padding: 0 40px;
}

.feedback__slide__content-rating {
  display: block;
  margin-bottom: 24px;
}

.feedback__slide__content-desc {
  font-style: italic;
  font-size: 23px;
  letter-spacing: 0.02em;
  margin-bottom: 12px;
}

.feedback__slide__content-author {
  font-weight: 700;
  font-size: 20px;
}

.clients {
  margin-bottom: 70px;
}

.clients__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 90px;
  padding-bottom: 70px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__logo {
  max-width: 200px;
  padding-right: 20px;
  margin: 0 auto;
}

.clients__logo img {
  -o-object-fit: cover;
     object-fit: cover;
}

.clients__logo:last-child {
  padding-right: 0;
}

.clients-button {
  text-align: center;
  border-radius: 6px;
}

.clients-button a {
  padding: 15px 18px;
  background-color: #8c9efc;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

.footer {
  position: relative;
  padding-top: 260px;
}

.footer::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 408px;
  width: 100%;
  background-color: #8c9efc;
  -webkit-clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
  z-index: -3;
}

.footer::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  height: 688px;
  width: 100%;
  background-color: #424d83;
  -webkit-clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
  -webkit-box-shadow: 0px 3px 25px rgba(66, 77, 131, 0.27);
          box-shadow: 0px 3px 25px rgba(66, 77, 131, 0.27);
  z-index: -2;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 94px;
  padding-right: 30px;
}

.footer__nav {
  max-width: 190px;
}

.footer__nav-title {
  color: white;
  font-size: 23px;
  font-weight: 700;
  padding-bottom: 24px;
}

.footer__nav-item {
  margin-bottom: 12px;
}

.footer__nav-item a {
  color: #fff;
  font-size: 20px;
}

.footer__accept {
  max-width: 475px;
}

.footer__accept-title {
  color: white;
  font-size: 23px;
  font-weight: 700;
  padding-bottom: 24px;
}

.footer__accept-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__accept-icon {
  width: 86px;
  height: 50px;
  background-color: #384170;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  border-radius: 6px;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

.footer__info-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
}

.footer__info__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 15px;
}

.footer__info__socials-icon {
  margin-left: 12px;
}

@media screen and (min-width: 1000px) {
  .burger {
    display: none;
  }
}

@media screen and (max-width: 1590px) {
  .tools__card {
    max-width: 740px;
  }
}

@media screen and (max-width: 1560px) {
  .plans__card {
    max-width: 340px;
  }
}

@media screen and (max-width: 1540px) {
  .intro-title {
    font-size: 36px;
  }

  .intro-desc {
    font-size: 20px;
  }

  .intro__form-input {
    width: 300px;
  }

  .intro__form-input::-webkit-input-placeholder {
    font-size: 16px;
  }

  .intro__form-input::-moz-placeholder {
    font-size: 16px;
  }

  .intro__form-input:-ms-input-placeholder {
    font-size: 16px;
  }

  .intro__form-input::-ms-input-placeholder {
    font-size: 16px;
  }

  .intro__form-input::placeholder {
    font-size: 16px;
  }

  .intro__form-btn {
    font-size: 16px;
  }

  .intro__image {
    max-width: 650px;
  }

  .tools__card {
    max-width: 700px;
  }
}

@media screen and (max-width: 1500px) {
  .nav__list-item {
    margin-left: 50px;
    font-size: 18px;
  }

  .services__card-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 1470px) {
  .tools__card {
    max-width: 670px;
  }

  .tools__card-icon-bg {
    width: 60px;
    height: 60px;
  }

  .tools__card-icon {
    max-height: 35px;
  }

  .tools__card-title {
    font-size: 20px;
  }

  .tools__card-desc {
    font-size: 18px;
    line-height: 28px;
  }

  .tools__card-link {
    font-size: 14px;
  }

  .plans__card-title {
    font-size: 20px;
  }

  .plans__card-desc {
    font-size: 20px;
    line-height: 28px;
  }
}

@media screen and (max-width: 1450px) {
  .services__card__image-wrap {
    max-width: 80px;
  }

  .services__image-pic {
    max-width: 600px;
  }

  .services__image::before {
    width: 200px;
    height: 200px;
    right: -80px;
    top: -50px;
  }

  .services__image::after {
    width: 200px;
    height: 200px;
    left: -80px;
    bottom: -50px;
  }

  .plans__card {
    max-width: 300px;
  }
}

@media screen and (max-width: 1440px) {
  .clients__logos {
    padding-top: 60px;
  }

  .clients__logo {
    max-width: 180px;
  }
}

@media screen and (max-width: 1400px) {
  .tools__card {
    max-width: 650px;
  }

  .feedback__slide__content {
    max-width: 460px;
  }

  .feedback__slide__content-desc {
    font-size: 20px;
  }
}

@media screen and (max-width: 1380px) {
  .footer {
    padding-top: 200px;
  }
}

@media screen and (max-width: 1370px) {
  .tools__card {
    max-width: 630px;
  }
}

@media screen and (max-width: 1340px) {
  .intro-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .intro {
    text-align: center;
  }

  .intro-title {
    font-size: 50px;
  }

  .intro-desc {
    padding-bottom: 60px;
    font-size: 30px;
  }

  .intro__image {
    display: none;
  }
}

@media screen and (max-width: 1330px) {
  .tools__card-link {
    padding: 10px 30px 10px 12px;
  }

  .tools__card-link::after {
    background-size: 5px 12px;
    background-repeat: no-repeat;
    right: 10%;
  }
}

@media screen and (max-width: 1320px) {
  .title-block {
    padding-top: 70px;
  }

  .tools__card {
    max-width: 600px;
  }

  .plans__card {
    max-width: 280px;
  }

  .plans__card-title {
    font-size: 18px;
  }

  .plans__card-desc {
    font-size: 18px;
  }

  .plans__card-info {
    font-size: 16px;
  }

  .plans__card-price {
    font-size: 16px;
  }

  .plans__card-price span {
    font-size: 28px;
  }
}

@media screen and (max-width: 1300px) {
  .nav__list-item {
    margin-left: 20px;
    font-size: 16px;
  }

  .nav__list-item:last-child a {
    padding: 10px 40px 10px 15px;
  }
}

@media screen and (max-width: 1280px) {
  .feedback__slide__image-pic {
    max-width: 120px;
  }

  .feedback__slide__content-desc {
    font-size: 18px;
  }
}

@media screen and (max-width: 1270px) {
  .tools__card {
    max-width: 580px;
  }
}

@media screen and (max-width: 1240px) {
  .services__card {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1220px) {
  .tools__card {
    max-width: 560px;
  }

  .tools__card-icon-bg {
    margin-bottom: 20px;
  }

  .tools__card-title {
    margin-bottom: 18px;
  }
}

@media screen and (max-width: 1200px) {
  .tools__card {
    max-width: 540px;
  }

  .plans__card {
    max-width: 250px;
    padding: 40px 18px 18px;
  }

  .clients__logo {
    max-width: 160px;
  }

  .clients-button a {
    padding: 11px 14px;
    font-size: 16px;
  }
}

@media screen and (max-width: 1140px) {
  .tools__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .tools__card {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .tools__card-title {
    font-size: 23px;
  }

  .tools__card-desc {
    font-size: 20px;
    line-height: 32px;
  }
}

@media screen and (max-width: 1100px) {
  .plans__cards {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .plans__cards {
    padding-bottom: 100px;
  }

  .plans__card {
    max-width: 360px;
    margin-bottom: 40px;
    padding: 80px 36px 36px;
  }
}

@media screen and (max-width: 1000px) {
  .nav {
    padding-top: 40px;
  }

  .nav__logo {
    padding-bottom: 0;
  }

  .nav__list {
    display: none;
  }
}

@media screen and (max-width: 942px) {
  .feedback::before {
    height: 120px;
    width: 120px;
  }

  .feedback::after {
    width: 120px;
    height: 120px;
  }

  .feedback__slide {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 920px) {
  .clients__logo {
    max-width: 140px;
  }
}

@media screen and (max-width: 800px) {
  .services__image::before {
    display: none;
  }

  .services__image::after {
    display: none;
  }

  .clients__logos {
    padding-top: 40px;
  }

  .clients__logo {
    max-width: 120px;
    margin-bottom: 10px;
    width: 33.3%;
  }

  .footer__nav {
    margin-bottom: 40px;
  }

  .footer__nav-title {
    font-size: 18px;
  }

  .footer__nav-item a {
    font-size: 16px;
  }

  .footer__accept-title {
    font-size: 18px;
    max-width: 300px;
  }
}

@media screen and (max-width: 790px) {
  .title {
    font-size: 30px;
  }

  .description {
    font-size: 22px;
  }
}

@media screen and (max-width: 700px) {
  .title {
    font-size: 28px;
  }

  .description {
    font-size: 18px;
  }

  .header::before {
    height: 750px;
  }

  .header::after {
    height: 720px;
  }

  .intro-wrapper {
    padding-top: 60px;
  }

  .intro {
    padding-bottom: 200px;
  }

  .intro-title {
    font-size: 36px;
  }

  .intro-desc {
    font-size: 20px;
  }

  .intro__form-btn {
    font-size: 14px;
  }
}

@media screen and (max-width: 670px) {
  .intro__form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .intro__form-wrap {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 642px) {
  .feedback__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .feedback__slide__content {
    text-align: center;
  }
}

@media screen and (max-width: 640px) {
  .tools__card-title {
    font-size: 18px;
  }

  .tools__card-desc {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 540px) {
  .intro {
    padding-bottom: 160px;
  }

  .tools__card-first::after {
    display: none;
  }

  .tools__card-second::after {
    display: none;
  }
}

@media screen and (max-width: 530px) {
  .header::before {
    height: 600px;
  }

  .header::after {
    height: 610px;
  }

  .intro-wrapper {
    padding-top: 40px;
  }

  .intro-wrapper {
    padding-top: 20px;
  }

  .intro-title {
    font-size: 24px;
  }

  .intro-desc {
    font-size: 16px;
  }

  .intro__form-input {
    height: 44px;
    width: 280px;
  }

  .intro__form-select {
    height: 44px;
    width: 100px;
    font-size: 16px;
  }

  .intro__form-select {
    font-size: 10px;
  }

  .intro__form-btn {
    padding: 10px 12px;
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  .title-block {
    padding-top: 50px;
  }

  .intro {
    padding-bottom: 120px;
  }

  .intro__form-input {
    width: 220px;
  }

  .intro__form-input::-webkit-input-placeholder {
    font-size: 12px;
  }

  .intro__form-input::-moz-placeholder {
    font-size: 12px;
  }

  .intro__form-input:-ms-input-placeholder {
    font-size: 12px;
  }

  .intro__form-input::-ms-input-placeholder {
    font-size: 12px;
  }

  .intro__form-input::placeholder {
    font-size: 12px;
  }

  .intro__form-select {
    width: 80px;
  }

  .footer::before {
    height: 100%;
  }

  .footer::after {
    height: 100%;
  }

  .footer__accept-icon {
    width: 70px;
    height: 34px;
    margin-bottom: 20px;
  }

  .footer__accept-icon img {
    height: 50%;
  }

  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__info-address {
    padding-bottom: 20px;
  }

  .footer__info-logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__info__socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 490px) {
  .services-wrap {
    padding-bottom: 60px;
  }

  .services__card {
    margin-bottom: 10px;
  }

  .services__card-title {
    font-size: 16px;
    margin-bottom: 16px;
  }

  .services__card-desc {
    font-size: 14px;
    line-height: 24px;
  }

  .services__image-pic {
    max-width: 370px;
  }
}